 <!--1111111111111111 FOR INPUT DATA COMMUNICATION BETWEEN PARENT AND CHILD COMPONENTS  1111111111111111 -->
<!-- <p style="font-size: 100px;">  
  {{reviews}}
</p> -->
<!--1111111111111111 FOR INPUT DATA COMMUNICATION BETWEEN PARENT AND CHILD COMPONENTS  1111111111111111 -->


<!--222222222222222222 FOR OUTPUT DATA COMMUNICATION BETWEEN CHILD TO PARENT COMPONENTS  USING EVENT EMITTER  22222222222222 -->
<div>
<button class="btn btn-primary" (click)="onClick()">Click Me</button>
  </div>
<!--222222222222222222 FOR OUTPUT DATA COMMUNICATION BETWEEN CHILD TO PARENT COMPONENTS  USING EVENT EMITTER  22222222222222 -->