

<div class="container">

    <hr style="border-top:1px solid navy">
      <div class="row">
          <div class="col-md-12">           
        <li><a routerLink="/signup">Register</a></li>
        <li><a routerLink="/signin">Login</a></li>
        <!-- <li><a style="cursor: pointer;"(click)="onLogout()">Logout</a></li> -->
          </div>
        </div>

        <hr style="border-top:1px solid navy">

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



