<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:navy">
    Welcome to Routing
  </h1>


  <ul>
    <li><a [routerLink] = "['/Product']">Product</a></li>
    <li><a [routerLink] = "['/Inventory']">Inventory</a></li>
  </ul>


 <!-- ROUTING WITH BUTTONS -->
  <!-- <button style="cursor:pointer" type="button" class="btn btn-primary" [routerLink] = "['/Product']">Brokers</button>
  &nbsp;
  <button style="cursor:pointer" type="button" class="btn btn-info" [routerLink] = "['/Inventory']">Inventory</button> -->
<!-- ROUTING WITH BUTTONS -->


<!-- ROUTING WITH LINKS -->
<!-- <div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/Product">Brokers</a></li>
    <li routerLinkActive="active"><a routerLink="/Inventory">Inventory</a></li> 
  </ul>
</div>

<div>
  <ul>
    <li routerLinkActive="active"><a routerLink="/Product">Brokers</a></li>
    <li routerLinkActive="active"><a routerLink="/Inventory">Inventory</a></li> 
  </ul>
</div> -->
<!-- ROUTING WITH LINKS -->

  <router-outlet></router-outlet>
  

  
</div>
